*, *::before, *::after {
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right, #6de4ce71, #2bac72be);
}
.App{
  height: 100vh;
  width: 100%;
}

.calculator{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(80px, auto)repeat(5, 80px);
}
button {
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid white;
  color: white;
  background: rgb(165, 161, 161);
  outline: none;
  margin: 3px;
}
button:hover{
  background-color: white;
  color: black;
}
.delete {
  background-color: red;
}
.big-btn{
  background-color: rgb(235, 232, 100);
  grid-column: span 2;
}
.color-green{
  background-color: green;
}
.output{
  grid-column: 1 / -1;
  margin-bottom: 0.2rem;
  background-color: white;
  display: flex;
  border-radius: 1rem;
  padding: 5px;
  align-items: flex-end;
  align-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
}
.previous-nums{
  color: rgba(72, 211, 30, 0.808);
  font-size: 1.5rem;
}
.current-nums{
  color: rgba(30, 158, 11, 0.993);
  font-size: 2rem;
  font-weight: bold;
}